PORT=8080
FRONTEND_URL=http://localhost:3000
JWT_EXPIRES_IN=2592000 # 30 days in seconds
JWT_SECRET=da39a3ee5e6b4b0d3255bfef95601890afd80709

BCRYPT_SALT_ROUNDS=10

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=example@gmail.com
MAIL_PASS=aaaa bbbb cccc dddd
MAIL_FROM_EMAIL=example@gmail.com

MONGO_URI=mongodb://localhost:27017/<db-name>

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB_AUTH=1
REDIS_DB_SESSION=2
REDIS_DB_THROTTLE=3